.form {
  display: grid;
  gap: 10px;
  grid-template-columns: 4fr 1fr;
  padding: 10px;
}

.form input {
  padding: 5px;
  border: 2px solid #777;
  border-radius: 4px;
  background: transparent;
  color: white;
  font-size: 16px;
}

.form input:focus {
  border-color: white;
  outline: none;
}

.form input:disabled {
  color: #777;
}
